#rec308189190:hover, .tn-elem[data-elem-id="1619273074425"]:hover{ cursor: pointer; }
#callback-lightbox{
    background-color: #285363e3;
    color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#callback-lightbox.lb_closed{ visibility: hidden; }

#callback-lightbox > .lb-h{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#callback-lightbox > .lb-h .lb_close{
    float: right;
    margin-right: 3vw;
    margin-top: 1vh;
}
#callback-lightbox > .lb-h .lb_close:hover{
    cursor: pointer;
}
#callback-lightbox > .lb-h .lb_close img{
   width: 40px;
   height: 40px;
}
#callback-lightbox > .lb{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
#callback-lightbox > .lb header{
    font-size: 120%;
}
#callback-lightbox > .lb main{
    font-size: 140%;
}
#callback-lightbox > .lb main form{
    margin-top: 1vh;
}
#callback-lightbox > .lb main form div, #callback-lightbox > .lb main form div label, #callback-lightbox > .lb main form div input{
    margin-top: 1%;
    display: block;
}
#callback-lightbox > .lb main form div input{
    font-size: calc(100% * 2);
    color: white;
    background-color: transparent;
    border: solid 2px white;
}
#callback-lightbox > .lb main form div *:disabled{
    color: gray;
    border-color: darkgray;
}
#callback-lightbox > .lb main form div input::placeholder{
    color: darkgray;
}
#callback-lightbox > .lb main form div button{
    font-size: calc(28% * 2);
    padding: 10px;
    width: calc(27% / 2);
    color: white;
    background-color: transparent;
    border: solid 2px white;
    text-transform: uppercase;
    margin-left: 359px;
}
#callback-lightbox > .lb-f{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
#callback-lightbox > .lb-f .lb_atettion{
    font-size: 140%;
}


/*Notification Hub */
#form-send-window{
    width: 40%;
    height: 64px;
    background-color: lightgray;
    position: fixed;
    z-index: 1;
}
#form-send-window.nf-close{ visibility: hidden; }
#form-send-window > header{
    float: left;
    margin-left: 2%;
}
#form-send-window > header img{
    vertical-align: middle;
    width: 100%;
    height: 32px;
    margin-top: calc(64px / 4);
}
#form-send-window > main{
    display: inline-table;
    margin-left: 3%;
    font-size: 110%;
    color: white;
    margin-top: calc(64px / 6);
}
#form-send-window.backcall{ background-color: darkgreen; }
#form-send-window.feedback{ background-color: darkred; }
  
@media all and (max-width: 1200px){
    #form-send-window{
      width: 100%;
      left: 0;
      bottom: 1vh;
    }
}
@media all and (min-width: 1200px){
     #form-send-window{
      right: 1vw;
      top: 2vh;
    }
}